a:link { color: #eee; }
a:visited { color: #eee; text-decoration: none; }
a:active { color: #aaa; text-decoration: none; }


a.mail:hover { color: #FFFFC2; text-decoration: none; }
a.github:hover { color: black; text-decoration: none; }
a.tumblr:hover { color: #36465D; text-decoration: none; }
a.linkedin:hover { color: #0077B5; text-decoration: none; }


html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #eee;
  text-align: center;
  text-shadow: 0 1px 3px #2C284A;
}

.bg-overlay {
	background: url('../img/overlay.png');
  opacity: 0.8;
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
}

.bg {
	position: fixed;
	top: 0%;
  right: 0%;
  width: auto;
  height: 100%;
  margin: auto auto;
  min-width: 100%;
  min-height: 600px;
  z-index: -2;
}

.social {
  font-size: 45px;
  margin-bottom: 20px;
}

.social a {
  margin: 0 15px;
}

.description {
  margin: 10px 0;
}

.carousel {
  width: 270px;
  margin: auto;
}

.img-holder {
  height: 150px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.5);
}

.img-circle {
  border: 2px solid #eee;
}

.info {
  margin-top: 30px;
  width: 370px;
  height: 150px;
  margin: 0 auto;

  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  padding: 10px;

  -webkit-box-shadow: 0px 0px 2px black;
  -moz-box-shadow: 0px 0px 2px black;

  background-color: #0A1C17;

}

#resume {
  font-weight: 300;
  margin-top: 20px;
  text-decoration: none !important;
}
#resume:hover {
  color: #eee;
}

.projects {
  font-weight: 300;
}

.line {
  background: -webkit-radial-gradient(circle, white, white, white, #585252);
  background: -o-radial-gradient(circle, white, white, white, #585252);
  background: -moz-radial-gradient(circle, white, white, white, #585252);
  background: radial-gradient(circle, white, white, white, #585252);
  height: 1px;
  width: 326px;
  margin: -10px auto 0 auto;
}

.projects-div {
  color: white;
  text-shadow:  0 0 1px #1D2024, 0 0 2px #2C284A,  0 0 3px #2C284A, 0 0 5px #2C284A, 0 0 3px #2C284A, 0 0 8px #2C284A, 0 0 10px #2C284A, 0 0 15px #2C284A;

  height: 40px;
  width: 360px;
  margin: 0 auto;
}

.projects-div div {
  float: left;
  margin: 0 10px;
}

.projects-div a {
  text-decoration: none;
  padding: 5px;
  font-weight: 300;
  font-size: 15px;

}

.projects-div a:hover {
  font-weight: 300;
  color: black;
  text-shadow:  0 0 1px black, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 8px white,  0 0 8px white,  0 0 8px white,  0 0 8px white,  0 0 8px white,  0 0 8px white,  0 0 8px white, 0 0 10px white, 0 0 15px white;

}

.description-1, .description-2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  /*color: #282D32;*/
  color: white;
  text-shadow:  0 0 1px #1D2024, 0 0 2px #2C284A,  0 0 3px #2C284A, 0 0 5px #2C284A, 0 0 3px #2C284A, 0 0 8px #2C284A, 0 0 10px #2C284A, 0 0 15px #2C284A;
  text-align: center;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}


@media (min-width: 768px) {
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}

/* hover-effects found at: https://github.com/IanLunn/Hover */

/* Underline From Left */
.hvr-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #eee;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline:hover:before, .hvr-underline:focus:before, .hvr-underline:active:before {
  right: 0;
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.cover-spinner {
  height: 100%;
  width: 100%;
  z-index: 2000;
  background-color: white;
}

.cover-spinner img {
  margin-top: 35%;
}
