a:link { color: #eee; }
a:visited { color: #eee; text-decoration: none; }
a:hover { color: #aaa; text-decoration: none; }
a:active { color: #aaa; text-decoration: none; }

html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #eee;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.bg-overlay {
	background: url('../img/overlay.png');
  opacity: 0.8;
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
}

.bg {
	position: fixed;
	top: 0%;
  right: 0%;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.social {
  font-size: 28px;
  margin-top: 10px;
}

.social a {
  margin: 0 10px;
}

.description {
  margin: 10px 0;
}

.carousel {
  width: 270px;
  margin: auto;
}

.img-holder {
  height: 150px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.5);
}

.img-circle {
  border: 2px solid #eee;
}

.info {
  margin-top: 30px;
}

#resume {
  font-weight: 300;
  text-decoration: none !important;
}
#resume:hover {
  color: #eee;
}

.projects {
  font-weight: 300;
}

.project-list {
  list-style-type: none;
  color: #eee;
}

.project-list div {
  display: block;
}

.project-list a {
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
}

.project-list a:hover {
  color: #eee;
  font-weight: 600;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}


@media (min-width: 768px) {
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}

/* hover-effects found at: https://github.com/IanLunn/Hover */

/* Underline From Left */
.hvr-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #eee;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline:hover:before, .hvr-underline:focus:before, .hvr-underline:active:before {
  right: 0;
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
